<div class="background">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">

      <div class="spinner-container" *ngIf="loading">
        <mat-spinner></mat-spinner>
      </div>
      <div *ngIf="form && !loading">
        <p class="h2">Login</p>
        <div [formGroup]="form">
          <div class="form-group">
            <mat-form-field>
              <mat-label>Username</mat-label>
              <input matInput placeholder="Username" formControlName="username">
            </mat-form-field>
          </div>

          <div>
            <mat-form-field>
              <mat-label>Password</mat-label>
              <input type="password" matInput placeholder="Password" formControlName="password">
            </mat-form-field>
          </div>
        </div>

        <div>
          <button mat-raised-button color="primary" [disabled]="!form.valid || (this.loading)" (click)="onLogin()">
            Login
          </button>
        </div>
      </div>

    </div>
  </div>


</div>